<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963898680607-ci1kd67nh5o8m9jhtrqtvu798gb2c0ma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963898680607-ci1kd67nh5o8m9jhtrqtvu798gb2c0ma</string>
	<key>API_KEY</key>
	<string>AIzaSyBLObYFyq_0UR9hTOzU6cIeyknLMn_d398</string>
	<key>GCM_SENDER_ID</key>
	<string>963898680607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-app-flutter-d1ca7</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-app-flutter-d1ca7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:963898680607:ios:2fa7d06bc390f0c3a1fc2a</string>
</dict>
</plist>
